@model ResearchGate.Models.Author
@{
    ViewBag.Title = "Login";
}

<link href="~/Content/Designs/FormAccount.css" rel="stylesheet" />
<div class="main-block">

    <form method="post" action="login" class="formAccount">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1 style="text-align: center; padding: 15px;">Login</h1>
        <div class="info">
            @ViewBag.ErrorMessage
            <input type="email" name="Email" placeholder="Email">
            <input type="password" name="Password" placeholder="Password">
        </div>
        <input type="submit" class="submitButton" name="submit" value="Login" />
    </form>


</div>

