.searchTable {
    border-radius: 5px;
    margin:auto;
}

th {
    background-color: #1c87c9;
    color: #fff;
    padding: 5px;
}

td {
    background-color: #eee;
    padding: 10px;
}

th {
    padding: 10px;
}

.notFound {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 1.5rem;
}
