@model ResearchGate.Models.Author
@{
    ViewBag.Title = "Paper";
}
<link href="~/Content/Designs/PaperForm.css" rel="stylesheet" />

<div class="paperForm">
    
    <h2 style="text-align: center;">New Paper</h2>
    @using (Html.BeginForm("Create/" + Model.AuthorId, "Paper", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formPaper" }))
    {
        <input type="text" placeholder="Paper Name" name="PaperName" />


        <input type="file" name="PaperFile"/>

        <textarea cols="30" rows="10" name="PaperDescription" placeholder="Paper Description"></textarea>
        <button type="submit">Create Paper</button>
    }
</div>
